<h1>New Group</h1>
<%= form_with model: @new_group do |f| %>
  <div class="field">
    <%= f.text_field :name %>
  </div>
  
  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <div class="field">
    <%= f.submit "Create Category" %>
  </div>
<% end %>