<header id="page-header">
  <nav><a href="#"><img src="/assets/home_icon.png"></a></nav>
  <h1>New Category</h1>
</header>
<%= form_with model: @new_group do |f| %>
  <div class="field">
    <%= f.text_field :name %>
  </div>
  
  <%= f.hidden_field :user_id, value: current_user.id %>
  
  <div class="field">
    <%= f.submit "Create Category" %>
  </div>
<% end %>