<section id="first-page">
  <header>
    <h1>iBudget</h1>
  </header>

  <nav>
    <div class="bttn blue-bttn"><%= link_to "LOG IN ", new_user_session_path %></div>
    <div class="bttn grey-bttn"><%= link_to "SIGN UP ", new_user_registration_path %></div>
  </nav>
</section>